<!--@subject Заказ в 1 Клик@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var var data.time":"Time",
"var data.address":"Address",
"var data.comment":"Comment",
"var data.remote_ip":"Remote Ip"}
@-->
URL страницы: {{var data.lasturl}}
Имя: {{var data.name}}
Телефон: {{var data.telephone}}
Удобное время для связи: {{var data.time}}
Адрес: {{var data.address}}
Примечание: {{var data.comment}}
IP адресс: {{var data.remote_ip}}